<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceProductoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51577/WebServiceProducto.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceProductoSoap"
                contract="WebServiceProducto.WebServiceProductoSoap" name="WebServiceProductoSoap" />
        </client>
    </system.serviceModel>
</configuration>